import("stats", "graphics")
export(gpava)
export(weighted.median)
export(weighted.fractile)
export(activeSet)
export(aSolver)
export(dSolver)
export(eSolver)
export(fSolver)
export(hSolver)
export(iSolver)
export(lfSolver)
export(lsSolver)
export(mSolver)
export(oSolver)
export(pSolver)
export(sSolver)

S3method(print, gpava)
S3method(plot, gpava)
S3method(print, activeset)







