import("stats", "graphics")
export(smacofSym)
export(smacofRect)
export(smacofIndDiff)

S3method(print, smacofB)
S3method(summary, smacofB)
S3method(print, smacofR)
S3method(summary, smacofR)
S3method(print, smacofID)
S3method(summary, smacofID)



