useDynLib("Gifi")
import("stats", "graphics", "MASS", "ape", "psych")
export(Gifi)
export(princals)
export(morals)
export(parallel)
export(vss)
export(scores)
export(rotation)

S3method(print, gifi)
S3method(summary, gifi)
S3method(plot, gifi)
S3method(scores, gifi)

S3method(print, princals)
S3method(print, summary.princals)
S3method(summary, princals)
S3method(plot, princals)
S3method(vss, princals)
S3method(print, princalsvss)
S3method(summary, princalsvss)
S3method(plot, princalsvss)
S3method(print, summary.princalsvss)
S3method(parallel, princals)
S3method(print, princalspa)
S3method(summary, princalspa)
S3method(print, summary.princalspa)
S3method(plot, princalspa)
S3method(rotation, princals)
S3method(print, princalsrot)

S3method(print, morals)
S3method(predict, morals)
S3method(print, predict.morals)
S3method(summary, predict.morals)



