useDynLib("Gifi")
import("stats", "graphics", "colorspace")
export(princals, homals, morals)
export(knotsGifi, makeNumeric)

S3method(print, gifi)
S3method(summary, princals)
S3method(plot, princals)
S3method(summary, homals)
S3method(plot, homals)
S3method(print, morals)
S3method(plot, morals)
